<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Spells List
    </ion-title>
  </ion-toolbar>

  <ion-segment scrollable>
    <ion-segment-button (click)="getSpells(cosa.url)" *ngFor="let cosa of classes">
      <ion-icon slot="start" name="add"></ion-icon>
      <ion-label>{{cosa.name}}</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-title></ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card>
</ion-content>
